<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.device.mapper.CabinetTypeMapper">

    <resultMap id="CabinetTypeResult" type="com.share.device.mapper.CabinetTypeMapper" autoMapping="true"></resultMap>

    <!--    分页查询-->
    <select id="selectCabinetTypeList" resultMap="CabinetTypeResult">
        select id, name, total_slots, description, status, del_flag, create_by, create_time, update_by, update_time, remark from cabinet_type
    </select>
</mapper>